# Dependencies
node_modules

# Build output
dist

# Playwright
playwright-report
test-results

# Coverage
coverage

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
